html,
body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

.bg-hero-pattern {
    background: url('../img/fundo_degrade.png');
    background-size: cover;
    background-position: center;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
